.row
  .small-12.columns
    %h2 Rails Boilerplate Splash Page
    %p Use the following commands to remove this document
    %pre rails destroy controller boilerplate 
    %p Then you will need to remove the default route and create your own splash