%nav.top-bar
  %ul.title-area
    %li.name
      %h1=link_to "My Site"
  %section.top-bar-section
    %ul.right.has-form
      %li=link_to "LOG IN", new_user_session_path, :class=>"button [radius round]"
      %li.divider
      %li=link_to "REGISTER", new_user_registration_path, :class=>"button [radius round]"
