<!DOCTYPE html>
%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{:name=>:viewport,:content=>"width=device-width, initial-scale=1.0"}
    
    %title=content_for?(:title) ? yield(:title) : ENV['APP_NAME']
    
    =stylesheet_link_tag "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  
  %body
    .row
      .small-12.columns
        =render 'layouts/topbar'
        %p.notice=notice
        %p.alert=alert
        =yield
    =javascript_include_tag "application"